@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply w-full mb-3 p-2 border rounded focus:outline-none focus:ring;
  }

  .btn-primary {
    @apply w-full bg-blue-600 text-white py-2 rounded hover:bg-blue-700;
  }
}
